node_modules
/assets/demo-asr/NodeJsServer_asr.aliyun.short__local.js
/assets/demo-vue/copy
/assets/node-codes/temp
/assets/node-localServer/upload
/assets/node-localServer/main__local.js
/assets/node-localServer/package-lock.json
/assets/npm-home/npm-files
/assets/npm-home/version.patch.txt
/assets/page-i18n/temp_check
/assets/sonic-java/test.wav
/assets/sonic-java/Main.class
/assets/sonic-java/Sonic.class
